{{#each this}}
<div class="form-group__name">
    <h1 class="name">{{name}}</h1>
    <p class="capital">capital: {{capital}}</p>
    <p class="populetion">populetion: {{population}}</p>
    <p class="lenguages">languages: </p>
    <ul>{{#each languages}}<li class="lenguages__item">{{name}}</li>{{/each}}</ul>
</div>
<div class="country-flag">
    <img class="flag" src="{{flag}}" alt="flag of {{name}}">
</div>
{{/each}}